{% extends 'base.html' %}
{% block title %}To-Go Orders Home{% endblock %}

{% block body %}
    <h1> Welcome!</h1>

    <div class="top-pad">
        <div class="well">
            <h2>
                Create an Account
                <form action="/signup", method="POST">
                    {{form.username.label}}: {{form.username()}}<br>
                    {{form.password.label}}: {{form.password()}}<br>
                    {{form.submit()}}
                </form>
            </h2>
        </div>
    </div>
    <div class="top-pad">
        <div class="well">
            <h2>
                Log-In Here
                <form action="/login", method="POST">
                    {{form.username.label}}: {{form.username()}}<br>
                    {{form.password.label}}: {{form.password()}}<br>
                    {{form.submit()}}
                </form>
            </h2>
        </div>
    </div>
{% endblock %}