{% extends 'base.html' %}

{% block title %}{{ restaurant.restaurant_name }} - Orders{% endblock %}

{% block body %}
<h1>{{ restaurant.restaurant_name }} <br>
<img src="{{ restaurant.restaurant_image }}">
<p>
  <a href="{{ restaurant.menu_link}}" label="Menu" target="_blank" rel="noopener noreferrer">Menu</a>
</p>
</h1>
<div class="top-pad">
    <div class="well">
        <h2>
            Create an Order
            <form action="/restaurants/{{ restaurant.id }}/orders", method="POST">
                {{form.text()}}<br>
                {{form.submit()}}
            </form>
        </h2>
    </div>
</div>
<br>
<h2>
{% for orders in orders %}
<li>{{ orders.text }}</li>
{% endfor %}
{% endblock %}
</h2>