{% extends 'base.html' %}
{% block title %}Change User Settings{% endblock %}

{% block body %}
    <h1>You may change your user settings here.</h1>
    <div class="top-pad">
        <div class="well">
            <h2>
                Change Your Username
                <form action="/edit_user", method="POST">
                    {{edit_form.username()}} {{edit_form.id()}} {{edit_form.submit()}}
                </form><br>
                Delete Your Account
                <form action="/delete_user", method="POST">
                    {{delete_form.id()}} {{delete_form.submit()}}
                </form><br>
            </h2>
        </div>
    </div>
{% endblock %}